


<div class="head">
    <div class="logo">
        <h3>JAMES CONSULTING</h3>
    </div>
    
    
    <nav>
        <ul>
            <li><a routerLink="/home" >home</a></li>
            <li><a routerLink="/users" >users</a></li>
            <li><a routerLink="/prodact" >prodact</a></li>
            <!-- <li><a  >Services</a></li>
            <li><a  >Plans & Pricing</a></li>
            <li><a  >Tools & Tips</a></li>
            <li><a  >Contact</a></li>
            <li><a  >Log in</a></li> -->
        </ul>
    </nav>
</div>
