

<div class="cont">

    <div class="cont1">
        <h3>JAMES CONSULTING</h3>
        <p>
            500 Terry Francine Street,
            San Francisco, CA 94158
            Mail: info.com
            Tel: 123-456-7890
        </p>
    </div>


    <div class="cont2">
        <h3>MENU</h3>
        <p>About</p>
        <p>Projects</p>
        <p>Services</p>
        <p>Plans & pricing</p>
        <p>Tools & Tips</p>
        <p>Contacts</p>
    </div>


    <div class="cont1">
        <h3>SOCIALS</h3>
        <p>
            © 2035 by JAMES CONSULTING.
            Powered and secured by Wix
        </p>
    </div>

</div>
